*, *::before, *::after {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.grid {
  width: 58px;
  height: 60px;
  border: 1px solid black;
}

.hover {
  background-color: yellowgreen;
}